In [64]:
# STATION 1

import pandas as pd

data = pd.read_csv("./data/SIM001-FULL.txt", delimiter = "\t", header=None)

#get specific columns
df_filtered = data.iloc[:, [0,1,2,5,17,19]]
df_filtered.columns = ['Date', 'Time', 'Temp', 'RelHum', 'Rain', 'SolarRad']
df_result = df_filtered.iloc[2:]
df_result.reset_index(drop=True, inplace=True)
df_result.insert(0, "StationID", 1, True) # add Station ID

df_result.to_csv('./data_csv/Station01.csv', index=False)
df_result

/var/folders/n0/vwhch5dj5rvcy86l839xb8d00000gn/T/ipykernel_5363/3946474445.py:5: DtypeWarning: Columns (7,9,10,16,17,18,27,28,29,30,31,32,33,34,35,36,37) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("./data/SIM001-FULL.txt", delimiter = "\t", header=None)

       StationID      Date   Time  Temp RelHum  Rain SolarRad
0              1  22/07/20  13:30  25.8     60  0.00      491
1              1  22/07/20  14:00  25.8     59  0.00      476
2              1  22/07/20  14:30  26.1     58  0.00      365
3              1  22/07/20  15:00  26.0     58  0.00      316
4              1  22/07/20  15:30  26.2     58  0.00      299
...          ...       ...    ...   ...    ...   ...      ...
50662          1  21/06/23  13:30  15.7     86   0.0      189
50663          1  21/06/23  14:00  15.7     85   0.0      181
50664          1  21/06/23  14:30  15.7     85   0.0      191
50665          1  21/06/23  15:00  15.3     86   0.0      137
50666          1  21/06/23  15:30  14.9     88   0.0       34

[50667 rows x 7 columns]

In [65]:
# STATION 2

import pandas as pd

data = pd.read_csv("./data/SIM002-FULL.txt", delimiter = "\t", header=None)

#get specific columns
df_filtered = data.iloc[:, [0,1,2,5,17,19]]
df_filtered.columns = ['Date', 'Time', 'Temp', 'RelHum', 'Rain', 'SolarRad']
df_result = df_filtered.iloc[2:]
df_result.reset_index(drop=True, inplace=True)
df_result.insert(0, "StationID", 2, True) # add Station ID

df_result.to_csv('./data_csv/Station02.csv', index=False)
df_result

/var/folders/n0/vwhch5dj5rvcy86l839xb8d00000gn/T/ipykernel_5363/2624694148.py:5: DtypeWarning: Columns (7,9,10,17,18,33,34,35,36,37) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("./data/SIM002-FULL.txt", delimiter = "\t", header=None)

       StationID      Date   Time  Temp RelHum  Rain SolarRad
0              2  22/07/20  16:30  26.5     58  0.00      161
1              2  22/07/20  17:00  24.8     63  0.00       59
2              2  22/07/20  17:30  24.0     66  0.00       25
3              2  22/07/20  18:00  23.0     68  0.00        2
4              2  22/07/20  18:30  22.4     71  0.00        0
...          ...       ...    ...   ...    ...   ...      ...
47352          2  21/06/23  14:00  17.3     85   0.0      176
47353          2  21/06/23  14:30  17.1     80   0.0      144
47354          2  21/06/23  15:00  17.0     83   0.0      125
47355          2  21/06/23  15:30  16.4     83   0.0       71
47356          2  21/06/23  16:00  15.8     84   0.0       23

[47357 rows x 7 columns]

In [66]:
# STATION 3

import pandas as pd

data = pd.read_csv("./data/SIM003-FULL.txt", delimiter = "\t", header=None)

#get specific columns
df_filtered = data.iloc[:, [0,1,2,5,17,19]]
df_filtered.columns = ['Date', 'Time', 'Temp', 'RelHum', 'Rain', 'SolarRad']
df_result = df_filtered.iloc[2:]
df_result.reset_index(drop=True, inplace=True)
df_result.insert(0, "StationID", 3, True) # add Station ID

df_result.to_csv('./data_csv/Station03.csv', index=False)
df_result

/var/folders/n0/vwhch5dj5rvcy86l839xb8d00000gn/T/ipykernel_5363/2723322805.py:5: DtypeWarning: Columns (7,9,10,17,18,33,34,35,36,37) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("./data/SIM003-FULL.txt", delimiter = "\t", header=None)

       StationID      Date   Time  Temp RelHum  Rain SolarRad
0              3  23/07/20  11:30  23.0     69  0.00      453
1              3  23/07/20  12:00  23.7     66  0.00      524
2              3  23/07/20  12:30  24.6     64  0.00      580
3              3  23/07/20  13:00  25.3     63  0.00      605
4              3  23/07/20  13:30  25.7     61  0.00      536
...          ...       ...    ...   ...    ...   ...      ...
50800          3  21/06/23  13:30  14.0     97   1.0       50
50801          3  21/06/23  14:00  14.2     97   0.4       82
50802          3  21/06/23  14:30  14.1     97   0.6       51
50803          3  21/06/23  15:00  14.1     98   0.2       38
50804          3  21/06/23  15:30  14.1     98   0.2       37

[50805 rows x 7 columns]

In [67]:
# STATION 4

import pandas as pd

data = pd.read_csv("./data/SIM004-FULL.txt", delimiter = "\t", header=None)

#get specific columns
df_filtered = data.iloc[:, [0,1,2,5,17,19]]
df_filtered.columns = ['Date', 'Time', 'Temp', 'RelHum', 'Rain', 'SolarRad']
df_result = df_filtered.iloc[2:]
df_result.reset_index(drop=True, inplace=True)
df_result.insert(0, "StationID", 4, True) # add Station ID

df_result.to_csv('./data_csv/Station04.csv', index=False)
df_result

/var/folders/n0/vwhch5dj5rvcy86l839xb8d00000gn/T/ipykernel_5363/3495573698.py:5: DtypeWarning: Columns (2,3,4,5,6,7,9,10,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("./data/SIM004-FULL.txt", delimiter = "\t", header=None)

       StationID      Date   Time  Temp RelHum  Rain SolarRad
0              4  29/07/20  10:30   8.8     64  0.00      515
1              4  29/07/20  11:00   9.8     58  0.00      561
2              4  29/07/20  11:30  10.6     54  0.00      614
3              4  29/07/20  12:00  11.1     52  0.00      653
4              4  29/07/20  12:30  11.3     47  0.00      678
...          ...       ...    ...   ...    ...   ...      ...
50736          4  21/06/23  13:00  15.6     96   1.8       31
50737          4  21/06/23  13:30  15.6     97   1.0       24
50738          4  21/06/23  14:00  15.6     97   3.2       21
50739          4  21/06/23  14:30  15.8     97   1.6       57
50740          4  21/06/23  15:00  15.9     97   0.4       78

[50741 rows x 7 columns]

In [68]:
# STATION 5

import pandas as pd

data = pd.read_csv("./data/SIM005-FULL.txt", delimiter = "\t", header=None)

#get specific columns
df_filtered = data.iloc[:, [0,1,2,5,17,19]]
df_filtered.columns = ['Date', 'Time', 'Temp', 'RelHum', 'Rain', 'SolarRad']
df_result = df_filtered.iloc[2:]
df_result.reset_index(drop=True, inplace=True)
df_result.insert(0, "StationID", 5, True) # add Station ID

df_result.to_csv('./data_csv/Station05.csv', index=False)
df_result

/var/folders/n0/vwhch5dj5rvcy86l839xb8d00000gn/T/ipykernel_5363/2507225268.py:5: DtypeWarning: Columns (7,9,10,16,17,18,24,25,26,27,28,29,30,31,32,33,34) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("./data/SIM005-FULL.txt", delimiter = "\t", header=None)

       StationID      Date   Time  Temp RelHum  Rain SolarRad
0              5  29/07/20  14:30   ---     47  0.00      675
1              5  29/07/20  15:00  12.7     49  0.00      602
2              5  29/07/20  15:30  12.8     46  0.00      550
3              5  29/07/20  16:00  13.0     49  0.00      463
4              5  29/07/20  16:30  12.7     49  0.00      370
...          ...       ...    ...   ...    ...   ...      ...
49759          5  21/06/23  14:00  15.4     97   2.8       10
49760          5  21/06/23  14:30  15.4     98   2.6       24
49761          5  21/06/23  15:00  15.4     98   0.2       36
49762          5  21/06/23  15:30  15.7     98   0.0       61
49763          5  21/06/23  16:00  15.9     97   0.0       58

[49764 rows x 7 columns]

In [69]:
# STATION 6

import pandas as pd

data = pd.read_csv("./data/SIM006-FULL.txt", delimiter = "\t", header=None)

#get specific columns
df_filtered = data.iloc[:, [0,1,2,5,17,19]]
df_filtered.columns = ['Date', 'Time', 'Temp', 'RelHum', 'Rain', 'SolarRad']
df_result = df_filtered.iloc[2:]
df_result.reset_index(drop=True, inplace=True)
df_result.insert(0, "StationID", 6, True) # add Station ID

df_result.to_csv('./data_csv/Station06.csv', index=False)
df_result

/var/folders/n0/vwhch5dj5rvcy86l839xb8d00000gn/T/ipykernel_5363/1730634003.py:5: DtypeWarning: Columns (7,9,10,16,17,18,24,25,26,27,28,29,30,31,32,33,34) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("./data/SIM006-FULL.txt", delimiter = "\t", header=None)

       StationID      Date   Time  Temp RelHum  Rain SolarRad
0              6  30/07/20  15:30  14.7     64  0.00      476
1              6  30/07/20  16:00  14.9     64  0.00      410
2              6  30/07/20  16:30  14.9     63  0.00      314
3              6  30/07/20  17:00  14.6     64  0.00      207
4              6  30/07/20  17:30  13.8     67  0.00       95
...          ...       ...    ...   ...    ...   ...      ...
50674          6  21/06/23  13:30  14.6     98   0.4       66
50675          6  21/06/23  14:00  14.8     98   0.6       78
50676          6  21/06/23  14:30  15.1     98   0.0       98
50677          6  21/06/23  15:00  14.9     98   0.0       45
50678          6  21/06/23  15:30  14.9     98   0.0       22

[50679 rows x 7 columns]

In [70]:
# STATION 7

import pandas as pd

data = pd.read_csv("./data/SIM007-FULL.txt", delimiter = "\t", header=None)

#get specific columns
df_filtered = data.iloc[:, [0,1,2,5,17,19]]
df_filtered.columns = ['Date', 'Time', 'Temp', 'RelHum', 'Rain', 'SolarRad']
df_result = df_filtered.iloc[2:]
df_result.reset_index(drop=True, inplace=True)
df_result.insert(0, "StationID", 7, True) # add Station ID

df_result.to_csv('./data_csv/Station07.csv', index=False)
df_result

/var/folders/n0/vwhch5dj5rvcy86l839xb8d00000gn/T/ipykernel_5363/3118974094.py:5: DtypeWarning: Columns (2,3,4,5,6,7,9,10,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("./data/SIM007-FULL.txt", delimiter = "\t", header=None)

       StationID      Date   Time  Temp RelHum  Rain SolarRad
0              7  05/08/20  16:00  22.7     54  0.00      311
1              7  05/08/20  16:30  22.6     53  0.00      258
2              7  05/08/20  17:00  21.8     60  0.00      152
3              7  05/08/20  17:30  20.2     68  0.00       58
4              7  05/08/20  18:00  16.7     78  0.00       15
...          ...       ...    ...   ...    ...   ...      ...
50073          7  21/06/23  13:30  13.6     90   0.0       39
50074          7  21/06/23  14:00  13.7     91   0.0      108
50075          7  21/06/23  14:30  13.8     93   0.0       81
50076          7  21/06/23  15:00  13.9     93   0.0       78
50077          7  21/06/23  15:30  13.9     93   0.0       40

[50078 rows x 7 columns]

In [71]:
# STATION 8

import pandas as pd

data = pd.read_csv("./data/SIM008-FULL.txt", delimiter = "\t", header=None)

#get specific columns
df_filtered = data.iloc[:, [0,1,2,5,17,19]]
df_filtered.columns = ['Date', 'Time', 'Temp', 'RelHum', 'Rain', 'SolarRad']
df_result = df_filtered.iloc[2:]
df_result.reset_index(drop=True, inplace=True)
df_result.insert(0, "StationID", 8, True) # add Station ID

df_result.to_csv('./data_csv/Station08.csv', index=False)
df_result

/var/folders/n0/vwhch5dj5rvcy86l839xb8d00000gn/T/ipykernel_5363/2978198157.py:5: DtypeWarning: Columns (2,3,4,5,6,7,9,10,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("./data/SIM008-FULL.txt", delimiter = "\t", header=None)

       StationID      Date   Time  Temp RelHum  Rain SolarRad
0              8  06/08/20  14:30  24.4     46  0.00      636
1              8  06/08/20  15:00  23.6     50  0.00      392
2              8  06/08/20  15:30  22.6     47  0.00      285
3              8  06/08/20  16:00  21.6     50  0.00       77
4              8  06/08/20  16:30  20.2     56  0.00       29
...          ...       ...    ...   ...    ...   ...      ...
50305          8  21/06/23  13:30  12.5     98   0.0       84
50306          8  21/06/23  14:00  12.7     98   0.0      136
50307          8  21/06/23  14:30  12.9     98   0.0       85
50308          8  21/06/23  15:00  13.0     97   0.0       36
50309          8  21/06/23  15:30  13.0     97   0.2       36

[50310 rows x 7 columns]

In [72]:
# STATION 9

import pandas as pd

data = pd.read_csv("./data/SIM009-FULL.txt", delimiter = "\t", header=None)

#get specific columns
df_filtered = data.iloc[:, [0,1,2,5,17,19]]
df_filtered.columns = ['Date', 'Time', 'Temp', 'RelHum', 'Rain', 'SolarRad']
df_result = df_filtered.iloc[2:]
df_result.reset_index(drop=True, inplace=True)
df_result.insert(0, "StationID", 9, True) # add Station ID

df_result.to_csv('./data_csv/Station09.csv', index=False)
df_result

/var/folders/n0/vwhch5dj5rvcy86l839xb8d00000gn/T/ipykernel_5363/1246831147.py:5: DtypeWarning: Columns (2,3,4,5,6,7,9,10,12,13,14,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("./data/SIM009-FULL.txt", delimiter = "\t", header=None)

       StationID      Date   Time  Temp RelHum  Rain SolarRad
0              9  07/08/20  11:00  16.4     87  0.00      220
1              9  07/08/20  11:30  17.1     87  0.00      249
2              9  07/08/20  12:00  17.7     84  0.00      350
3              9  07/08/20  12:30  18.8     79  0.00      690
4              9  07/08/20  13:00  19.7     75  0.00      716
...          ...       ...    ...   ...    ...   ...      ...
44070          9  21/06/23  14:00  16.9     87   0.0      124
44071          9  21/06/23  14:30  16.9     85   0.0      123
44072          9  21/06/23  15:00  16.2     91   0.0       41
44073          9  21/06/23  15:30  15.7     91   0.2       30
44074          9  21/06/23  16:00  15.4     93   0.4       42

[44075 rows x 7 columns]

In [73]:
# STATION 10

import pandas as pd

data = pd.read_csv("./data/SIM010-FULL.txt", delimiter = "\t", header=None)

#get specific columns
df_filtered = data.iloc[:, [0,1,2,5,17,19]]
df_filtered.columns = ['Date', 'Time', 'Temp', 'RelHum', 'Rain', 'SolarRad']
df_result = df_filtered.iloc[2:]
df_result.reset_index(drop=True, inplace=True)
df_result.insert(0, "StationID", 10, True) # add Station ID

df_result.to_csv('./data_csv/Station10.csv', index=False)
df_result

/var/folders/n0/vwhch5dj5rvcy86l839xb8d00000gn/T/ipykernel_5363/1656806494.py:5: DtypeWarning: Columns (2,3,4,5,6,7,9,10,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("./data/SIM010-FULL.txt", delimiter = "\t", header=None)

       StationID      Date   Time  Temp RelHum  Rain SolarRad
0             10  07/01/20  19:00  19.1     55  0.00      675
1             10  07/01/20  19:30  19.1     46  0.00      659
2             10  07/01/20  20:00  19.3     44  0.00      606
3             10  07/01/20  20:30  19.4     45  0.00      549
4             10  07/01/20  21:00  19.2     42  0.00      480
...          ...       ...    ...   ...    ...   ...      ...
49481         10  21/06/23  14:00  14.7     94   0.2       64
49482         10  21/06/23  14:30  14.9     94   0.2       75
49483         10  21/06/23  15:00  14.9     95   0.0       82
49484         10  21/06/23  15:30  14.7     95   0.2       48
49485         10  21/06/23  16:00  14.7     95   0.4       24

[49486 rows x 7 columns]

In [74]:
# STATION 11

import pandas as pd

data = pd.read_csv("./data/SIM011-FULL.txt", delimiter = "\t", header=None)

#get specific columns
df_filtered = data.iloc[:, [0,1,2,5,17,19]]
df_filtered.columns = ['Date', 'Time', 'Temp', 'RelHum', 'Rain', 'SolarRad']
df_result = df_filtered.iloc[2:]
df_result.reset_index(drop=True, inplace=True)
df_result.insert(0, "StationID", 11, True) # add Station ID

df_result.to_csv('./data_csv/Station11.csv', index=False)
df_result

/var/folders/n0/vwhch5dj5rvcy86l839xb8d00000gn/T/ipykernel_5363/3564016457.py:5: DtypeWarning: Columns (2,3,4,5,6,7,9,10,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("./data/SIM011-FULL.txt", delimiter = "\t", header=None)

       StationID      Date   Time  Temp RelHum  Rain SolarRad
0             11  19/08/20  18:00  15.3     61  0.00        0
1             11  19/08/20  18:30  10.9     69  0.00        0
2             11  19/08/20  19:00  10.1     72  0.00        0
3             11  19/08/20  19:30   9.4     73  0.00        0
4             11  19/08/20  20:00   8.9     76  0.00        0
...          ...       ...    ...   ...    ...   ...      ...
49695         11  21/06/23  14:00  14.4     96   0.2       52
49696         11  21/06/23  14:30  14.1     97   0.0       53
49697         11  21/06/23  15:00  13.9     97   0.0       39
49698         11  21/06/23  15:30  13.4     97   0.4       30
49699         11  21/06/23  16:00  13.4     97   0.4       21

[49700 rows x 7 columns]

In [75]:
# STATION 12

import pandas as pd

data = pd.read_csv("./data/SIM012-FULL.txt", delimiter = "\t", header=None)

#get specific columns
df_filtered = data.iloc[:, [0,1,2,5,17,19]]
df_filtered.columns = ['Date', 'Time', 'Temp', 'RelHum', 'Rain', 'SolarRad']
df_result = df_filtered.iloc[2:]
df_result.reset_index(drop=True, inplace=True)
df_result.insert(0, "StationID", 12, True) # add Station ID

df_result.to_csv('./data_csv/Station12.csv', index=False)
df_result

/var/folders/n0/vwhch5dj5rvcy86l839xb8d00000gn/T/ipykernel_5363/2071416985.py:5: DtypeWarning: Columns (7,9,10,17,18,30,31,32,33,34) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("./data/SIM012-FULL.txt", delimiter = "\t", header=None)

       StationID      Date   Time  Temp RelHum  Rain SolarRad
0             12  20/08/20  13:00   9.1     48  0.00      614
1             12  20/08/20  13:30   8.4     45  0.00      454
2             12  20/08/20  14:00   8.2     50  0.00      412
3             12  20/08/20  14:30   8.7     47  0.00      443
4             12  20/08/20  15:00   8.4     50  0.00      282
...          ...       ...    ...   ...    ...   ...      ...
48888         12  21/06/23  13:30  17.3     84   0.0      263
48889         12  21/06/23  14:00  17.7     84   0.0      209
48890         12  21/06/23  14:30  17.4     84   0.0       94
48891         12  21/06/23  15:00  17.8     83   0.0      182
48892         12  21/06/23  15:30  17.6     80   0.0      133

[48893 rows x 7 columns]

In [76]:
# STATION 13

import pandas as pd

data = pd.read_csv("./data/SIM013-FULL.txt", delimiter = "\t", header=None)

#get specific columns
df_filtered = data.iloc[:, [0,1,2,5,17,19]]
df_filtered.columns = ['Date', 'Time', 'Temp', 'RelHum', 'Rain', 'SolarRad']
df_result = df_filtered.iloc[2:]
df_result.reset_index(drop=True, inplace=True)
df_result.insert(0, "StationID", 13, True) # add Station ID

df_result.to_csv('./data_csv/Station13.csv', index=False)
df_result

/var/folders/n0/vwhch5dj5rvcy86l839xb8d00000gn/T/ipykernel_5363/3447375807.py:5: DtypeWarning: Columns (2,3,4,5,6,7,9,10,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("./data/SIM013-FULL.txt", delimiter = "\t", header=None)

       StationID      Date   Time  Temp RelHum  Rain SolarRad
0             13  21/08/20  11:30   9.7     45  0.00      701
1             13  21/08/20  12:00  10.7     46  0.00      722
2             13  21/08/20  12:30  11.0     44  0.00      741
3             13  21/08/20  13:00  11.4     43  0.00      746
4             13  21/08/20  13:30  11.7     40  0.00      730
...          ...       ...    ...   ...    ...   ...      ...
49199         13  21/06/23  13:00  14.2     90   0.0       70
49200         13  21/06/23  13:30  13.9     92   0.0       79
49201         13  21/06/23  14:00  13.5     94   0.0       72
49202         13  21/06/23  14:30  13.4     95   0.8       62
49203         13  21/06/23  15:00  13.4     96   0.8       58

[49204 rows x 7 columns]

In [77]:
# STATION 14

import pandas as pd

data = pd.read_csv("./data/SIM014-FULL.txt", delimiter = "\t", header=None)

#get specific columns
df_filtered = data.iloc[:, [0,1,2,5,17,19]]
df_filtered.columns = ['Date', 'Time', 'Temp', 'RelHum', 'Rain', 'SolarRad']
df_result = df_filtered.iloc[2:]
df_result.reset_index(drop=True, inplace=True)
df_result.insert(0, "StationID", 14, True) # add Station ID

df_result.to_csv('./data_csv/Station14.csv', index=False)
df_result

/var/folders/n0/vwhch5dj5rvcy86l839xb8d00000gn/T/ipykernel_5363/2533064570.py:5: DtypeWarning: Columns (7,9,10,17,18,30,31,32,33,34) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("./data/SIM014-FULL.txt", delimiter = "\t", header=None)

       StationID      Date   Time  Temp RelHum  Rain SolarRad
0             14  12/11/20  10:00  26.6     59  0.00      785
1             14  12/11/20  10:30  27.9     52  0.00      856
2             14  12/11/20  11:00  28.6     51  0.00      920
3             14  12/11/20  11:30  28.9     48  0.00      969
4             14  12/11/20  12:00  29.9     45  0.00     1002
...          ...       ...    ...   ...    ...   ...      ...
45154         14  21/06/23  13:00  16.3     93   2.2        5
45155         14  21/06/23  13:30  15.9     95   5.0        3
45156         14  21/06/23  14:00  15.8     96   3.2       34
45157         14  21/06/23  14:30  16.2     96   0.0       97
45158         14  21/06/23  15:00  16.7     95   0.0      150

[45159 rows x 7 columns]

In [78]:
# STATION 15

import pandas as pd

data = pd.read_csv("./data/SIM015-FULL.txt", delimiter = "\t", header=None)

#get specific columns
df_filtered = data.iloc[:, [0,1,2,5,17,19]]
df_filtered.columns = ['Date', 'Time', 'Temp', 'RelHum', 'Rain', 'SolarRad']
df_result = df_filtered.iloc[2:]
df_result.reset_index(drop=True, inplace=True)
df_result.insert(0, "StationID", 15, True) # add Station ID

df_result.to_csv('./data_csv/Station15.csv', index=False)
df_result

/var/folders/n0/vwhch5dj5rvcy86l839xb8d00000gn/T/ipykernel_5363/2213321540.py:5: DtypeWarning: Columns (2,3,4,5,6,7,9,10,12,13,14,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("./data/SIM015-FULL.txt", delimiter = "\t", header=None)

       StationID      Date   Time  Temp RelHum  Rain SolarRad
0             15  13/11/20  10:30  28.9     47  0.00      930
1             15  13/11/20  11:00  30.2     44  0.00      997
2             15  13/11/20  11:30  29.6     44  0.00      760
3             15  13/11/20  12:00  30.2     40  0.00      778
4             15  13/11/20  12:30  31.4     38  0.00     1032
...          ...       ...    ...   ...    ...   ...      ...
45575         15  21/06/23  13:30  15.5     95   0.0       93
45576         15  21/06/23  14:00  15.4     95   0.2       29
45577         15  21/06/23  14:30  15.3     96   4.0       13
45578         15  21/06/23  15:00  15.2     97   0.8       26
45579         15  21/06/23  15:30  15.2     97   0.8       24

[45580 rows x 7 columns]

In [79]:
# STATION 16

import pandas as pd

data = pd.read_csv("./data/SIM016-FULL.txt", delimiter = "\t", header=None)

#get specific columns
df_filtered = data.iloc[:, [0,1,2,5,17,19]]
df_filtered.columns = ['Date', 'Time', 'Temp', 'RelHum', 'Rain', 'SolarRad']
df_result = df_filtered.iloc[2:]
df_result.reset_index(drop=True, inplace=True)
df_result.insert(0, "StationID", 16, True) # add Station ID

df_result.to_csv('./data_csv/Station16.csv', index=False)
df_result

/var/folders/n0/vwhch5dj5rvcy86l839xb8d00000gn/T/ipykernel_5363/3613932469.py:5: DtypeWarning: Columns (7,9,10,16,17,18,27,28,29,30,31,32,33,34,35,36,37) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("./data/SIM016-FULL.txt", delimiter = "\t", header=None)

       StationID      Date   Time  Temp RelHum  Rain SolarRad
0             16  13/11/20  16:30  29.4     38  0.00      467
1             16  13/11/20  17:00  28.9     38  0.00      336
2             16  13/11/20  17:30  28.9     36  0.00      257
3             16  13/11/20  18:00  28.5     39  0.00      167
4             16  13/11/20  18:30  27.7     42  0.00       95
...          ...       ...    ...   ...    ...   ...      ...
45524         16  21/06/23  14:00  13.9     96   0.8       31
45525         16  21/06/23  14:30  14.1     96   2.4       10
45526         16  21/06/23  15:00  14.1     97   2.4        6
45527         16  21/06/23  15:30  14.1     97   3.6        0
45528         16  21/06/23  16:00  14.0     97   2.6        6

[45529 rows x 7 columns]

In [80]:
# STATION 17

# No data

In [81]:
# STATION 18

import pandas as pd

data = pd.read_csv("./data/SIM018-FULL.txt", delimiter = "\t", header=None)

#get specific columns
df_filtered = data.iloc[:, [0,1,2,5,17,19]]
df_filtered.columns = ['Date', 'Time', 'Temp', 'RelHum', 'Rain', 'SolarRad']
df_result = df_filtered.iloc[2:]
df_result.reset_index(drop=True, inplace=True)
df_result.insert(0, "StationID", 18, True) # add Station ID

df_result.to_csv('./data_csv/Station18.csv', index=False)
df_result

/var/folders/n0/vwhch5dj5rvcy86l839xb8d00000gn/T/ipykernel_5363/1731523972.py:5: DtypeWarning: Columns (7,9,10,17,18,30,31,32,33,34) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("./data/SIM018-FULL.txt", delimiter = "\t", header=None)

       StationID      Date   Time  Temp RelHum  Rain SolarRad
0             18  20/11/20  14:00  21.7     52  0.00      888
1             18  20/11/20  14:30  21.3     53  0.00      797
2             18  20/11/20  15:00  19.6     57  0.00      759
3             18  20/11/20  15:30  18.0     63  0.00      186
4             18  20/11/20  16:00  17.8     66  0.00      175
...          ...       ...    ...   ...    ...   ...      ...
44549         18  19/06/23  23:30   9.7     72   0.0        0
44550         18  20/06/23  00:00   9.7     75   0.0        0
44551         18  20/06/23   0:30   9.3     77   0.0        0
44552         18  20/06/23   1:00   9.3     77   0.0        0
44553         18  20/06/23   1:30   9.6     76   0.0        0

[44554 rows x 7 columns]

In [82]:
# STATION 19

import pandas as pd

data = pd.read_csv("./data/SIM019-FULL.txt", delimiter = "\t", header=None)

#get specific columns
df_filtered = data.iloc[:, [0,1,2,5,17,19]]
df_filtered.columns = ['Date', 'Time', 'Temp', 'RelHum', 'Rain', 'SolarRad']
df_result = df_filtered.iloc[2:]
df_result.reset_index(drop=True, inplace=True)
df_result.insert(0, "StationID", 19, True) # add Station ID

df_result.to_csv('./data_csv/Station19.csv', index=False)
df_result

/var/folders/n0/vwhch5dj5rvcy86l839xb8d00000gn/T/ipykernel_5363/2526603722.py:5: DtypeWarning: Columns (2,3,4,5,6,7,9,10,12,13,14,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("./data/SIM019-FULL.txt", delimiter = "\t", header=None)

       StationID      Date   Time  Temp RelHum  Rain SolarRad
0             19  03/12/20  11:00  25.4     69  0.00      357
1             19  03/12/20  11:30  25.6     72  0.00      483
2             19  03/12/20  12:00  25.9     67  0.00      560
3             19  03/12/20  12:30  27.0     65  0.00      745
4             19  03/12/20  13:00  27.7     68  0.00     1043
...          ...       ...    ...   ...    ...   ...      ...
44636         19  21/06/23  13:00  17.7     88   0.0       87
44637         19  21/06/23  13:30  17.0     91   1.0       69
44638         19  21/06/23  14:00  16.9     93   0.4       82
44639         19  21/06/23  14:30  17.2     93   0.0      105
44640         19  21/06/23  15:00  17.3     92   0.0       79

[44641 rows x 7 columns]

In [83]:
# STATION 20

import pandas as pd

data = pd.read_csv("./data/SIM020-FULL.txt", delimiter = "\t", header=None)

#get specific columns
df_filtered = data.iloc[:, [0,1,2,5,17,19]]
df_filtered.columns = ['Date', 'Time', 'Temp', 'RelHum', 'Rain', 'SolarRad']
df_result = df_filtered.iloc[2:]
df_result.reset_index(drop=True, inplace=True)
df_result.insert(0, "StationID", 20, True) # add Station ID

df_result.to_csv('./data_csv/Station20.csv', index=False)
df_result

/var/folders/n0/vwhch5dj5rvcy86l839xb8d00000gn/T/ipykernel_5363/3712203963.py:5: DtypeWarning: Columns (7,9,10,17,18,33,34,35,36,37) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("./data/SIM020-FULL.txt", delimiter = "\t", header=None)

       StationID      Date   Time  Temp RelHum  Rain SolarRad
0             20  04/12/20  11:30  25.6     61  0.00     1114
1             20  04/12/20  12:00  25.4     58  0.00     1012
2             20  04/12/20  12:30  26.4     55  0.00     1177
3             20  04/12/20  13:00  26.7     53  0.00     1123
4             20  04/12/20  13:30  27.1     44  0.00     1080
...          ...       ...    ...   ...    ...   ...      ...
44378         20  21/06/23  13:30  13.9     92   0.0       75
44379         20  21/06/23  14:00  14.3     92   0.0      107
44380         20  21/06/23  14:30  14.4     92   0.0       40
44381         20  21/06/23  15:00  14.3     93   0.0       38
44382         20  21/06/23  15:30  14.4     92   0.0       31

[44383 rows x 7 columns]